Repository FACorreiaa/wanderwise-ai-client: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --fix, oxfmt --write

.lintstagedrc.json:

{
  "*.{js,mjs,cjs,jsx,ts,mts,cts,tsx}": ["oxlint --fix", "oxfmt --write"],
  "*.json": ["oxfmt --write"]
}

fix shared DTOs
  docs/SOLIDSTART_V2_MIGRATION_PLAN.md
  docs/STREAMING_ITINERARY_UX.md
  docs/chat-improvement-plan.md
  src/components/StreamingTransition.tsx
  src/components/chat/ChatHeader.tsx
  src/components/features/Dashboard/LoggedInDashboard.tsx
  src/components/features/Home/PublicLandingPage.tsx
  src/components/features/Home/Trending.tsx
  src/components/features/Map/Map.tsx
  src/components/itinerary/ItineraryStreamView.tsx
  src/components/itinerary/ProgressiveImage.tsx
  src/components/itinerary/StopCard.tsx
  src/components/itinerary/StopCardSkeleton.tsx
  src/components/streaming/StreamingResponse.tsx
  src/components/ui/SectionHeader.tsx
  src/contexts/AuthContext.tsx
  src/lib/api.ts
  src/lib/api/billing.ts
  src/lib/api/llm.ts
  src/lib/api/pois.ts
  src/lib/api/reviews.ts
  src/lib/api/settings.ts
  src/lib/auth/auth-events.ts
  src/lib/chat-stream/index.ts
  src/lib/connect-transport.ts
  src/lib/hooks/useChatSession.ts
  src/lib/itinerary/createItineraryStream.ts
  src/lib/logger.ts
  src/routes/chat/index.tsx
  src/routes/discover.tsx
  src/routes/favorites/index.tsx
  src/routes/itinerary/index.tsx
  src/routes/lists/index.tsx
  src/routes/profile.tsx
  src/routes/settings/index.tsx
  src/styles/editorial.css
Due: oxlint --fix, oxfmt --write

feat(client): wire reviews API + trending, add error views, drop fabricated stats
  src/components/ErrorView.tsx
  src/lib/connect-errors.ts
Due: oxlint --fix, oxfmt --write

refactor(chat): decompose /chat, live streaming, drawer, markdown
  src/components/chat/ChatHeader.tsx
  src/components/chat/ChatInput.tsx
  src/components/chat/ChatMessage.tsx
  src/components/chat/ChatSidebar.tsx
  src/components/ui/Markdown.tsx
  src/lib/hooks/useChat.ts
  src/lib/streaming-service.ts
  src/routes/chat/index.tsx
Due: oxlint --fix, oxfmt --write

feat(client): map reviewer + POI display fields in reviews API
  src/lib/api/reviews.ts
Due: oxlint --fix, oxfmt --write

feat(discover): wire geolocation 'near me' flow
  src/routes/discover.tsx
Due: oxlint --fix, oxfmt --write

feat(reviews): wire My Reviews to the API + create/like mutations + error view
  src/routes/reviews/index.tsx
Due: oxlint --fix, oxfmt --write

feat(client): show ErrorView on lists + favorites load failures
  src/routes/favorites/index.tsx
  src/routes/lists/index.tsx
Due: oxlint --fix, oxfmt --write

feat(reviews): wire All Reviews tab to GetRecentReviews global feed
  package.json
  pnpm-lock.yaml
  src/lib/api/reviews.ts
  src/routes/reviews/index.tsx
Due: oxlint --fix, oxfmt --write

fix(auth): stop double-refresh race that logged users out mid-navigation
  src/contexts/AuthContext.tsx
Due: oxlint --fix, oxfmt --write

fix(chat): recover chat stream on token expiry instead of disconnecting
  src/lib/api/llm.ts
  src/lib/connect-transport.ts
Due: oxlint --fix, oxfmt --write

feat(mcp): API keys settings page and MCP connection docs
  package.json
  pnpm-lock.yaml
  src/components/features/Settings/ApiKeys.tsx
  src/lib/api/api-keys.ts
  src/routes/mcp.tsx
Due: oxlint --fix, oxfmt --write

commit changes for stability and features
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/components/features/Home/PublicLandingPage.tsx
  src/components/features/Home/landing/AgentSection.tsx
  src/components/features/Home/landing/FinalCta.tsx
  src/components/features/Home/landing/HeroPlot.tsx
  src/components/features/Home/landing/HowItWorks.tsx
  src/components/features/Home/landing/RouteStop.tsx
  src/components/features/Home/landing/WhatItFinds.tsx
  src/lib/hooks/useInView.ts
  src/styles/landing.css
Due: oxlint --fix, oxfmt --write

fix(types): declare @types/geojson for Map's GeoJSON namespace
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: oxfmt --write

feat(shell): route-transition loading fallback
  src/app.tsx
  src/components/PageLoading.tsx
Due: oxlint --fix, oxfmt --write

refactor(css): split app.css into base, themes, and utilities
  src/app.css
  src/styles/base.css
  src/styles/theme-utilities.css
  src/styles/themes.css
Due: none

feat(shell): re-tone ambient background and polish chat/discover rhythm
  src/components/PageBackground.tsx
  src/routes/chat/index.tsx
  src/routes/discover.tsx
Due: oxlint --fix, oxfmt --write

ci: bump pnpm to v11 to match the workspace manifest
  .github/workflows/ci.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  package.json
Due: oxfmt --write

ci: let pnpm/action-setup read the version from packageManager
  .github/workflows/ci.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
Due: none

build: add .npmrc mapping the @buf scope to Buf's npm registry
  .npmrc
Due: none

fix(config): wire the real backend URL into prod/staging builds (B1)
  .env.example
  .github/workflows/ci.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  src/lib/connect-transport.ts
  src/routes/mcp.tsx
Due: oxlint --fix, oxfmt --write

fix(cf): drop env.staging from wrangler config; name worker loci-client
  wrangler.jsonc
Due: none

fix(config): prod backend URL (B1) + Cloudflare deploy config (#11)
  .env.example
  .github/workflows/ci.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  src/lib/connect-transport.ts
  src/routes/mcp.tsx
  wrangler.jsonc
Due: oxlint --fix, oxfmt --write

feat: Why-this-stop chips + free-tier usage badge
  src/components/EntitlementsBadge.tsx
  src/components/Nav.tsx
  src/components/poi/WhyThisStop.tsx
  src/components/results/ItineraryResults.tsx
  src/lib/api/types.ts
  src/lib/why-this.test.ts
  src/lib/why-this.ts
  src/routes/trips/[id].tsx
Due: oxlint --fix, oxfmt --write

feat: Pro Markdown export + offline trip cache
  src/components/trip/TripExportMenu.tsx
  src/lib/api/trips.ts
  src/lib/trip-markdown.test.ts
  src/lib/trip-markdown.ts
  src/lib/trip-offline-cache.ts
  src/routes/offline.tsx
  src/routes/trips/[id].tsx
Due: oxlint --fix, oxfmt --write

feat: call server ExportTrip for Markdown + bump BSR proto
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/components/trip/TripExportMenu.tsx
  src/lib/api/llm.ts
  src/lib/api/trips.ts
Due: oxlint --fix, oxfmt --write

feat: EntitlementsBadge uses GetEntitlements (unified Saves)
  src/components/EntitlementsBadge.tsx
  src/lib/api/entitlements.ts
Due: oxlint --fix, oxfmt --write

format Loci design guidance
  DESIGN.md
  docs/NATIVE_DESIGN.md
Due: none

make Discover places trip-ready
  src/components/trip/AddToTripButton.tsx
  src/components/trip/PlacePicker.tsx
  src/lib/api/pois.ts
  src/routes/discover.tsx
  src/routes/trips/[id].tsx
  src/styles/motion-tokens.css
Due: oxlint --fix, oxfmt --write

test complete login response
  src/lib/api.test.ts
Due: oxlint --fix, oxfmt --write
